<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h3>로그인 페이지</h3>
    <form name="user-form">
        <input type="text" id= 'username' placeholder="아이디"><br>
        <input type="password" id= 'password' placeholder="비밀번호"><br>
        <button type="button" onclick="loginFunc()" >로그인</button>
        <br>
        <br>
        <div class="resultBox"></div>
        
    </form>
    <script>
        const resultBox = document.querySelector('.resultBox')
        function loginFunc(){
            const data = {
                id: document.querySelector('#username').value,
                pw: document.querySelector('#password').value,
            };
            axios({
                method: 'POST',
                url: '/login',
                data,
            }).then((value)=>{    
                console.log('value',value);
                const{result, id} = value.data        
                if(result){
                resultBox.textContent =`${id}님 환영합니다.`
                resultBox.style.color = 'blue'
            }else{
               resultBox.textContent =`아이디 또는 비번이 틀렸습니다.`
                resultBox.style.color = 'red'
            }
        })

            
        }       
    </script>
</body>
</html>